@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.auth {
  background-image: radial-gradient(circle,#091f42,#0b2855,#0d3169,#123a7e,#194393);
}
.navbar {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.available-apis {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  height: 50vh;
  overflow-y: scroll;
}
.profile-keys {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  
}
